<div class="text-center m-5">
    <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>
<script>
  const loginAPI = '<%= loginAPI  %>';
  const loginURL = '<%= loginURL  %>';
  const redirect = '<%= redirect  %>';

  fetch(loginAPI)
    .then(function(response) {
      if (response.status >= 200 && response.status < 300) {
        return Promise.reject(new Error('AuthN request failed'));
      }

      response.json().then(function(data) {
        const { accessToken, refreshToken } = data;

        fetch(loginURL, {
            method: 'POST',
            headers: {
                "Content-type": "application/x-www-form-urlencoded; charset=UTF-8"
            },
            body: `accessToken=${accessToken}&refreshToken=${refreshToken}`
          })
          .then(function(response) {
            if (response.status >= 200 && response.status < 300) {
                return Promise.reject(new Error('LogIn request failed'));
            }

            response.json().then(function(data) {
              if (!data.success) return Promise.reject(new Error('Login failed'));
            })
          })
      });
    })
    .then(function() {
      location.replace(redirect);
    })
    .catch(function (error) {
      console.log('Callback encounter an issue', error);
    });
</script>