<form action="/auth/register" method="post">
    <div class="row g-1 mb-3">
        <div class="form-floating col">
            <input type="text" class="form-control" id="first-name" name="firstName" placeholder="First Name" required />
            <label for="first-name">First Name</label>
        </div>
        <div class="form-floating col">
            <input type="text" class="form-control" id="last-name" name="lastName" placeholder="Last Name" required />
            <label for="last-name">Last Name</label>
        </div>
    </div>

    <div class="form-floating mb-3">
        <input type="email" class="form-control" id="email" name="email" placeholder="Your Email" required />
        <label for="email">Your Email</label>
    </div>

    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="username" name="username" placeholder="Username" required />
        <label for="username">Username</label>
    </div>

    <div class="form-floating mb-3">
        <input type="password" class="form-control" id="password" name="password" placeholder="Password" autocomplete="new-password" required />
        <label for="password">Password</label>
    </div>

    <div class="form-floating mb-3">
        <input type="password" class="form-control" id="confirmation-password" name="confirmationPassword" placeholder="Confirm Password" required />
        <label for="confirmation-password">Confirm Password</label>
    </div>

    <div class="form-check mb-3">
        <label><input type="checkbox" class="form-check-input" id="remember-me" name="remember" value="true" required />I do accept the <a href="#!"><u>Terms and Conditions</u></a> of your site.</label>
    </div>

    <button class="btn btn-primary btn-lg w-100" type="submit">Sign up</button>
</form>

<p class="text-center text-muted mt-4 mb-0">Already have an account? <a href="/SignIn" class="fw-bold text-body"><u>Sign In</u></a></p>